*{
    margin:0px;
    box-sizing: border-box;

    --headerColor: rgb(43, 50, 73);
    --backgroundColor: rgb(177, 191, 218);
    --footerColor: rgb(43, 50, 73);

    --lightTextColor: aliceblue;

    font-family: 'Comfortaa', cursive;
}


header{
    width:100%;

    display: flex;
    flex-direction: column;
    padding: 40px;

    text-align: center;
    background: var(--headerColor);
    color:var(--lightTextColor);
    font-size: 2em;
    font-weight: bold;
}

main{
    width:100%;

    background: var(--backgroundColor);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Program{
    margin:50px;
    border:none;
}

#AboutHeader{
    margin-top:50px;
}
.About{
    width:100%;
    margin-top:30px;
    margin-bottom:50px;

    text-align: left;

    display:flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

.AboutSubdivision{
    padding:20px;
    text-align: center;
    flex:1;
}
.AboutSubdivision h3{
    margin:20px;
}
.AboutSubdivision p{
    line-height: 1.5em;
}

footer{
    padding: 20px;
    padding-bottom: 30px;

    background: var(--footerColor);
    color:var(--lightTextColor);
}

footer a, footer h3, footer p {
    color:var(--lightTextColor);
    margin:10px;
}
footer a:hover{
    text-decoration: none;
}