*{
    margin:0px;
    box-sizing: border-box;

    --headerColor: rgb(43, 50, 73);
    --headerTextColor: aliceblue;

    --backgroundColor: rgb(177, 191, 218);

    --footerColor: rgb(43, 50, 73);
    --footerTextColor: aliceblue;

    font-family: 'Comfortaa', cursive;
}


header{
    width:100%;
    height:250px;
    
    display:flex;
    flex-direction: column;

    background: var(--headerColor);

    text-align: center;
    justify-content: center;
    align-items: center;

    color:var(--headerTextColor);
    font-size: 2em;
    font-weight: bold;
}

header > h1{
    margin:40px;
}

main{
    width:100%;

    background: var(--backgroundColor);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Program{
    margin:50px;
    border:none;
}

#AboutHeader{
    margin-top:50px;
}
.About{
    width:100%;
    margin-top:30px;
    margin-bottom:50px;

    text-align: left;

    display:flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}

.AboutSubdivision{
    padding:20px;
    text-align: center;
    flex:1;
}
.AboutSubdivision > h3{
    margin:20px;
}
.AboutSubdivision > p{
    line-height: 1.5em;
}

footer{

    width:100%;
    height:200px;

    display:flex;
    flex-direction: column;
    padding: 20px;
    
    background: var(--footerColor);
    color: var(--footerTextColor);
}

footer > p{
    margin:10px;
}